@import url(https://unpkg.com/@webpixels/css@1.0/dist/index.css);

#login-containerDash {
  width: 100vw;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1530533718754-001d2668365a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
  /* background-repeat: no-repeat; */
  background-size: cover;
}

.my-form-containerDash {
  width: 400px;
  padding: 20px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  color: #252525;
  font-family: candara;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.my-form-containerDash label {
  font-size: 18px;
  letter-spacing: 1px;
  /* margin-bottom: 5px; */
}

.my-form-container input{
  margin-bottom: 20px;
}

.my-form-containerDash button {
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
  padding: 2px;
  font-family: calibri;
}

.err-msg {
  color: red;
  position: absolute;
  margin-top: -20px;
  font-size: 14px;
  margin-left: 5px;
}


#optionPanel {
  font-weight: 700;
  text-align: center !important;
  background-color: #f3f4f6 !important;
  height: 40px;
  border-radius: 3px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* ------------------------------------------------------------------------------------ */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.most-outer {
  /* background-color: rgb(224, 224, 224) !important; */
  height: auto !important;
}

#dum {
  font-size: 14px;
  color: #6b7280;
}

.signup-form {
  width: 480px;
  padding: 32px;
  border-radius: 8px;
  border-top: 0.2vh solid rgb(226, 226, 226);
  background-color: #ffffff;
  /* box-shadow: 5px 5px 8px #6b728040; */
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
  text-align: center;
  /* box-shadow: 5px 30px 78px 0 rgba(0, 0, 0, 0.1), 0 15px 21px 0 rgba(0, 0, 0, 0.4); */
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px 0px, rgba(0, 0, 0, 0.09) 0px 4px 2px 0px, rgba(0, 0, 0, 0.09) 0px 8px 4px 0px, rgba(0, 0, 0, 0.09) 0px 16px 8px 0px, rgba(0, 0, 0, 0.09) 0px 32px 16px 0px;
}

.header {
  margin-bottom: 48px;
}

#validotp {
  width: 40%;
}

#validotp::placeholder {
  color: #868686;
}

.header h1 {
  font-weight: bolder;
  font-size: 28px;
  color: #6366f1;
}

.input {
  position: relative;
  margin-bottom: 24px;
}

.input input {
  width: 100%;
  padding: 8px 40px;
  border-radius: 4px;
  background-color: #f3f4f6;
  color: #1f2937;
  font-size: 16px;
}

.input input::placeholder {
  color: #828383;
}

.input i {
  top: 50%;
  width: 36px;
  position: absolute;
  transform: translateY(-50%);
  color: #6b7280;
  font-size: 16px;
}

.signup-btn {
  width: 100%;
  /* border: none; */
  padding: 8px 0;
  margin: 24px 0;
  border-radius: 4px;
  background-color: #6366f1;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

.signup-btn:active {
  background-color: #4f46e5;
  transition: all 0.3s ease;
}

.social-icons i {
  height: 36px;
  width: 36px;
  line-height: 36px;
  border-radius: 50%;
  margin: 24px 8px 48px 8px;
  background-color: gray;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

i.fa-facebook-f {
  background-color: #3b5998;
}

i.fa-twitter {
  background-color: #1da1f2;
}

i.fa-google {
  background-color: #dd4b39;
}

a {
  color: #6366f1;
  text-decoration: none;
}

/* 0000000000000000000000000000000000000000000000000000000000000000000000000000 */

@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap");


#product-landing {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  padding-top: 30px;
}

img {
  width: 100%;
}

#logo {
  width: 193px;
  height: 47.64px;
}

#hero {
  display: flex;
  align-items: center;
  margin-top: 80px;
}

/* 
#hero > * {
  flex: none;
  max-width: calc(900px / 2); was 1440px 
  width: calc(100% / 2);
}
*/
#hero-text {
  font-family: "Jost", sans-serif;
  color: #54575a;
}

#hero-text h1 {
  font-size: 58px;
  line-height: 68px;
}

#hero-text p {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
}

.hero-btn {
  display: inline-block;
  height: 46.28px;
  margin-top: 15px;
}

#apple {
  max-width: 138.44px;
  margin-right: 22px;
}

#google {
  max-width: 156.19px;
}

#hero-visual {
  position: relative;
}

#hero-img {
  position: relative;
  top: 30px;
}

#main {
  position: relative;
  height: 680px;
}

.main-img {
  width: calc(100% / 4 + 34px);
  position: absolute;
}

.main-img img {
  filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.25));
}

.main-img:nth-of-type(1) {
  left: -34px;
  bottom: 0;
}

.main-img:nth-of-type(2) {
  left: 20%;
  bottom: 0;
}

.main-img:nth-of-type(3) {
  right: 26%;
  bottom: calc(224px - 50px);
}

.main-img:nth-of-type(4) {
  right: 26%;
  bottom: 0;
}

.main-img:nth-of-type(5) {
  right: 0;
  bottom: 0;
}

@media (max-width: 914px) {
  #hero-text h1 {
    font-size: 45px;
  }

  #hero-text p {
    font-size: 18px;
  }

  #apple,
  #google {
    width: 80% !important;
  }

  .main-img:nth-of-type(2) {
    left: 20%;
  }

  .main-img:nth-of-type(3),
  .main-img:nth-of-type(4) {
    right: 26%;
  }
}

@media (max-width: 720px) {

  #apple,
  #google {
    width: 40% !important;
  }

  #hero-text h1 {
    font-size: 40px;
  }

  #hero-text p {
    font-size: 16px;
  }

  #main .main-img {
    transform: translateX(10%);
  }

  .main-img:nth-of-type(2) {
    left: 19%;
  }

  #main {
    height: 600px;
  }
}


@media (max-width: 600px) {
  #hero-visual {
    display: none;
  }

  #hero-intro {
    width: 100%;
    text-align: center;
  }
}

/* ---------------------------------css of ajay--------------------------------------------------*/


/* Importing fonts from Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Reseting */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #ecf0f3;
}

.wrapper {
  max-width: 350px;
  min-height: 500px;
  margin: 80px auto;
  padding: 40px 30px 30px 30px;
  background-color: #ecf0f3;
  border-radius: 15px;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}

.logo {
  width: 80px;
  margin-bottom: 30px !important;
  margin: auto;
}

.logo img {
  width: 100%;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 3px #5f5f5f,
    0px 0px 0px 5px #ecf0f3,
    8px 8px 15px #a7aaa7,
    -8px -8px 15px #fff;
}

.wrapper .name {
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: 1.3px;
  padding-left: 10px;
  color: #555;
}

.wrapper .form-field input {
  width: 100%;
  display: block;
  border: none;
  outline: none;
  background: none;
  font-size: 1.2rem;
  color: #666;
  padding: 10px 15px 10px 10px;
  /* border: 1px solid red; */
}

.wrapper .form-field {
  padding-left: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

.wrapper .form-field .fas {
  color: #555;
}

.wrapper .btn {
  box-shadow: none;
  width: 100%;
  height: 40px;
  background-color: #03A9F4;
  color: #fff;
  border-radius: 25px;
  box-shadow: 3px 3px 3px #b1b1b1,
    -3px -3px 3px #fff;
  letter-spacing: 1.3px;
}

.wrapper .btn:hover {
  background-color: #039BE5;
}

.wrapper a {
  text-decoration: none;
  font-size: 0.8rem;
  color: #03A9F4;
}

.wrapper a:hover {
  color: #039BE5;
}

@media(max-width: 380px) {
  .wrapper {
    margin: 30px 20px;
    padding: 40px 15px 15px 15px;
  }
}

.loader-background {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid rgb(103, 103, 255);
  border-bottom: 10px solid rgb(103, 103, 255);
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* -------------------------------------vendor css-------------------tickit0----------------------- */

.card {

  margin-top: 100px;

  border-radius: 5px;

  box-shadow: 5px 10px 19px 5px black;

  width: 150%;

  margin-left: 150px;

}




.m-r-0 {

  margin-right: 0px;

}




.m-l-0 {

  margin-left: 0px;

}




.user-card-full .user-profile {

  border-radius: 5px 0 0 5px;

}




.user-profile {

  padding: 20px 0;

}




.card-block {

  padding: 1.25rem;

}




.m-b-25 {

  margin-bottom: 25px;

}




.img-radius {

  /* border-radius: 5px; */

  width: 80% !important;

  height: 27vh !important;

}

.signout{

  margin-top: 6vh !important;

}





.card .card-block p {

  line-height: 25px;

}




.card-block {

  padding: 1.25rem;

}




.b-b-default {

  border-bottom: 1px solid #e0e0e0;

}




.m-b-20 {

  margin-bottom: 20px;

}




.p-b-5 {

  padding-bottom: 5px !important;

}




.card .card-block p {

  line-height: 25px;

}




.m-b-10 {

  margin-bottom: 10px;

}




.text-muted {

  color: #919aa3 !important;

}




.b-b-default {

  border-bottom: 1px solid #e0e0e0;

}




.f-w-600 {

  font-weight: 600;

}




.m-b-20 {

  margin-bottom: 20px;

}




.m-t-40 {

  margin-top: 20px;

}




.p-b-5 {

  padding-bottom: 5px !important;

}




.m-b-10 {

  margin-bottom: 10px;

}




.m-t-40 {

  margin-top: 20px;

}




.user-card-full .social-link li {

  display: inline-block;

}

/* _--------------------------------------vendor dash ______________________________________________________________ */


